@media screen and (max-width: 768px) {
  .container {
    width: 100%; 
  }
}
#welcome-section{
  height:100vw;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}