body {
  font-family: Arial, sans-serif;
  margin: 20px;
}



table {
  border-collapse: collapse;
  width: 100%;
  border: 2px double black; 
  margin: 10px;
  text-align: center;
}

th, td {
  border: 3px double black;
  margin: 10px;
  width: 20%;
}

.skyblue { color: skyblue; }
.orange { color: orange; }
.pink { color: pink; }
.brown { color: brown; }
.red { color: red; text-align: center; font-weight: bold; }
.bold { font-weight: bold;
text-align: center; 
}

